<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="css/welcome.css">
  <title>Matches</title>
</head>

<body>
  <div class="container d-flex justify-content-center" style="margin-top:30px">
    <h1>Matches</h1>
  </div>
  <% matches.forEach(function(post) { %>
    <div class="players-div container d-flex justify-content-center" style="margin-top:30px">
      <h2>Match <%=post.match_id%></h2>
    </div>
      <%var player1 = ""%>
      <%var player1ID = 0%>
      <%var player2 = ""%>
      <%var player2ID = 0%>
      <%players.forEach(function(player) {%>
        <%if(player.player_id==post.player_id_1) {%>
          <%player1 = player.first_name+" "+player.last_name%>
          <%player1ID = player.player_id%>
        <%}%>
        <%if(player.player_id==post.player_id_2) {%>
          <%player2 = player.first_name+" "+player.last_name%>
          <%player2ID = player.player_id%>
        <%}%>
    <%})%>
    <div class="match-detail-div container d-flex justify-content-center">
      <h5>Player 1 <%=player1%></h5>
    </div>
    <div class="match-detail-div container d-flex justify-content-center">
      <h5>Player 2 <%=player2%></h5>
    </div>
    <%if(post.winner_id==player1ID) {%>
    <div class="match-detail-div container d-flex justify-content-center">
      <h5><%=player1%> has won the match.</h5>
    </div>
    <%} else {%>
      <div class="match-detail-div container d-flex justify-content-center">
        <h5><%=player2%> has won the match.</h5>
      </div>
      <%}%>
      <div class="match-detail-div container d-flex justify-content-center">
        <h5>Moves that had been performed were: </h5>
      </div>
      <%var str = post.move_description.split("\r\n")%>
      <%for (let i = 0; i < str.length; i++) { %>
      <div class="match-detail-div container d-flex justify-content-center">
          <p><%=str[i]%><br></p>
      </div>
      <%}%>
  <%})%>
</body>

</html>
